<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Test">
  <parameter name="avg" value="Hello"/>
    <parameter name="mark" value="12"/>
    <classes>
     
      <class name="rinku.InputParameter"/>
      
    </classes>
  </test> <!-- Test -->
   
</suite> <!-- Suite -->